<h2>Управление шаблонами</h2>


<p style="width:75%; font-size:120%">Управление шаблонами осуществляется в&nbsp;разделе &laquo;Шаблоны&raquo;. </p>
<p style="width:75%; font-size:120%">Существует три группы хранения шаблонов: Главный шаблоны, Шаблоны блоки и&nbsp;Шаблоны динамических модулей. </p>
<p style="width:75%; font-size:120%">В&nbsp;Главном разделе содержатся основные шаблоны, содержащие правила формирования главного дизайна страниц. </p>
<p style="width:75%; font-size:120%">В&nbsp;разделе Блоки содержаться шаблоны, использующиеся в&nbsp;шаблонных блоках. </p>
<p style="width:75%; font-size:120%">Раздел Модули содержит соответственно шаблоны формирования содержание в&nbsp;динамических разделах.</p>
<br><br><br>